[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
inference = "==0.16.0"
werkzeug = "==3.0.3"

[dev-packages]

[requires]
python_version = "3.9"
